footer {
    position         : fixed;
    padding-left     : 10px;
    bottom           : 0px;
    width            : 100%;
    background-color : #ffffff;
    border           : 0;
    border-top       : 1px solid #e5e5e5;
}

#b {
    padding-bottom : 50px;
}

#result > ul > li >h2:first-letter {
    text-transform : uppercase;
}

#result > ul > li {
    list-style            : none;
    display               : block;
    background-color      : #eeeeee;
    padding               : 4px;
    margin                : 5px;
    line-height           : 1;
    border                : 1px solid #ddd;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    -webkit-box-shadow    : 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow       : 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow            : 0 1px 1px rgba(0, 0, 0, 0.075);
}

#searchBar {
    width     : 100%;
    max-width : 940px;
}

.searchForm {
    max-height : 180px;
}

.wrap {
    word-wrap : break-word;
}

.inline {
    display      : inline;
    padding-left : 50px;
}

.description {
    padding-top  : 10px;
    padding-left : 5px;
}

.listDescription {
    padding-top  : 10px;
    padding-left : 20px;
}